
#copy { color: black; font-style: normal; font-weight: normal; font-size: 10px; font-family: Verdana, Arial, Helvetica }
#tab { color: black; font-style: normal; font-weight: normal; font-size: 9px; font-family: Verdana, Arial, Helvetica }
#text { color: black; font-style: normal; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica }
a:link { color: #030 }
a:visited { color: #030 }
body { color: black; font-style: normal; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica; background-color: #aacfff }
cite { color: black; font-style: normal; font-weight: normal; font-size: 12px; font-family: Verdana, Arial, Helvetica }
em { color: black; font-style: normal; font-weight: normal; font-size: 16px; font-family: Verdana, Arial, Helvetica }
h1 { color: black; font-weight: normal; font-size: 18px; font-family: Verdana, Arial, Helvetica }
h2 { color: black; font-weight: normal; font-size: 16px; font-family: Verdana, Arial, Helvetica }
h3 { color: black; font-weight: normal; font-size: 12px; font-family: Verdana, Arial, Helvetica }
h4 { color: black; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica }
p { color: black; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica }
samp { color: black; font-style: normal; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica }
strong { color: black; font-style: normal; font-weight: normal; font-size: 18px; font-family: Verdana, Arial, Helvetica }
td { color: black; font-weight: normal; font-size: 11px; font-family: Verdana, Arial, Helvetica }
th { color: black; font-weight: bold; font-size: 11px; font-family: Verdana, Arial, Helvetica }
ul { color: black; font-weight: normal; font-size: 11px; line-height: 14px; font-family: Verdana, Arial, Helvetica }

.logo { height: 87; width: 98 }
.schriftzug { height: 35; width: 474 }
.spezialist { height: 42; width: 289 }
.orte { height: 42; width: 246 }
.noScreen { display:none }
.arrow { height: 30; width: 30 }
